body{
  background-color: lightblue;
  padding: 20px
}

.Card{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
  margin: 15px 0;
}

button{
  background-color: rgb(9, 47, 128);
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;
}